@media (max-width: 991px) {
  header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url(./images/image7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
  }

  header .text {
    width: 100%;
    padding: 7rem 0 7rem;
  }

  /* section */

  section {
    margin-top: 2rem;
    padding-left: 1rem;
    width: 70%;
  }

  section .links a,
  p {
    text-decoration: none;
    color: rgb(153, 153, 153);
  }

  section .links a:hover {
    color: rgb(220, 179, 95);
  }

  /* article */
  article .row h5 a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(229, 202, 143);
  }

  article .row .grid-image img {
    width: 100%;
  }

  article .row p {
    color: rgb(16, 64, 99);
  }

  article .enquire a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(212, 179, 94);
    padding: 10px 1.5rem;
    font-size: 1.2rem;
  }

  article .enquire a:hover {
    background-color: rgb(225, 202, 143);
  }

  /* article2 */
  .article2 {
    background-color: rgb(248, 248, 248);
  }

  .article2 h3 {
    font-size: 1.3rem;
  }

  .article2 p {
    color: rgb(16, 64, 99);
  }

  .article2 h6 {
    color: rgb(16, 64, 99);
  }
}

/*  */
@media (min-width: 992px) {
  header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url(./images/image7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding: 15rem 10rem 15rem;
    color: #fff;
    font-size: 1.2rem;
  }

  /* section */

  section {
    margin-top: 2rem;
  }

  section .links a,
  p {
    text-decoration: none;
    color: rgb(153, 153, 153);
  }

  section .links a:hover {
    color: rgb(220, 179, 95);
  }

  /* article */
  article .row h5 a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(229, 202, 143);
  }

  article .row p {
    color: rgb(16, 64, 99);
  }

  article .row .grid-image img {
    width: 100%;
  }

  article .enquire a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(212, 179, 94);
    padding: 10px 1.5rem;
    font-size: 1.2rem;
  }

  article .enquire a:hover {
    background-color: rgb(225, 202, 143);
  }

  /* article2 */
  .article2 {
    background-color: rgb(248, 248, 248);
  }

  .article2 h3 {
    font-size: 1.3rem;
  }

  .article2 p {
    color: rgb(16, 64, 99);
  }

  .article2 h6 {
    color: rgb(16, 64, 99);
  }
}
